*{
    padding:10px;
}

body {
  background-image: url(gallery/gallery_bg.jpg);
  background-size:contain;
  }

.heading{
    color: rgb(0, 0, 0);
    margin-left: 640px;
    font-size: 20px;
}
  .hello {
    opacity: 1 !important;
  }
  .full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .gallery-item img{
    padding:10px;
    background-color: rgba(0, 0, 0, 0.75)
  }
  .full .content {
    height: 100%;
    width: 100%;
    display: grid;
  }
  .full .content img {
    left: 50%;
    transform: translate3d(0, 0, 0);
    animation: zoomin 1s ease;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }
  .gallery {
    display: grid;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 8px;
  }

  .gallery .gallery-item:hover {
    transform: scale(1.08);
  }

  .gallery img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 16px #000000;
    transition: all 1.5s ease;
  }
  .gallery img:hover {
    box-shadow: 0 0 32px #000000;
  }
  .gallery .content {
    padding: 4px;
  }
  .gallery .gallery-item {
    transition: grid-row-start 300ms linear;
    transition: transform 300ms ease;
    transition: all 0.5s ease;
    cursor: pointer;
  }